@import '../../../global.scss';


.Header {
  width: 100%;
  height: 40px;
  background-color: $lightGrey;


    .menu {
      display: flex;
      flex-direction: column;
      width: 120px;
      margin-left: auto;


      .menuBottom {

      }

      .menuBtn {
        width: 100%;
        height: 40px;
        background-color: $lighterGrey;
        border: 1px solid $lightGrey;
      }    
    }
  


  
}